/* .form {
    width: 360px;
}

.legend-delay {
    text-align: start;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.delay-input {
    margin-top: 8px;
}

.delay-input:hover {
    
    border-color: black;
}
.delay-input:active {
    border-color: #4E75FF;
}

.fieldset {
    display: inline-block;
    width: 332px;
    border-radius: 4px;
}

.fieldset:hover {
    border-color: black;
}

.legend {
    text-align: start;
}



.submit-btn {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 40px;
    background-color: #4e75ff;
    border-radius: 8px;
    color: #fff;
    border-color: transparent;
    margin-top: 24px;
}

.submit-btn:hover {
    background-color: #6C8CFF;
}


 */
